@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="position-relative text-white text-center" style="height: 60vh; overflow: hidden;">
    <img src="~/images/food.jpg" class="w-100 h-100 object-fit-cover" alt="Obrazek kulinarny" style="object-fit: cover; filter: brightness(60%);" />

    <div class="position-absolute start-50 translate-middle-x" style="top: 55%;">
        <h1 class="display-4 fw-bold">Collection of favourite recipes</h1>
        <!--
                <p class="lead">Zarządzaj swoim odżywianiem lepiej dzięki sprawdzonym przepisom i inspiracjom kulinarnym</p>
        -->
    </div>
</div>


<div class="text-center my-4">
    <a class="btn btn-success btn-lg" href="#">See recipes</a>
</div>


<div class="container text-center mt-5">
    <p class="fs-5 mx-auto" style="max-width: 1000px;">
        <strong>Create, organize and discover your favorite recipes! </strong> <!--<br />
        Ta aplikacja pozwala gromadzić własne receptury, inspirować się pomysłami innych i dodawać je do <strong>
            ulubionych.</strong>-->
        <br />
        Thanks to automatic calorie calculation, it's easier to maintain a healthy lifestyle.
    </p>
</div>
